# Node
node_modules/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# IDEs
.vscode/
.idea/
backend/img/articulos/articulo-1759257656902.jpg
backend/img/articulos/articulo-1759454080561.jpg
backend/img/articulos/articulo-1759453423500.jpg
